.u{
  &-margin{
    &__none{
      margin: 0;
    }
    &__tb{
      &--small{
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
    &__bottom{
      &--small{
        margin-bottom: 1em;
      }
      &--medium{
        margin-bottom: 2em;
      }
      &--large{
        margin-bottom: 3em;
      }
    }
  }
  &-padding{
    &__tb{
      &--chick{
        padding-top: .2em;
        padding-bottom: .2em;
      }
      &--small{
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
    &__lr{
      &--small{
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  &-hover{
    &__linear{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: $off-black;
        transition:all .3s;
      }
      &:hover:before{
        width: 100%;
      }
      &--base{
        &:before{
          background: $primary-color;
        }
      }
    }
  }
  
}